black==26.3.1
croniter==6.2.2
Django==6.0.4
psycopg==3.3.3
djangorestframework==3.17.1
django-filter==25.2
django-cors-headers==4.9.0
django-picklefield==3.4.0
django-q2==1.9.0
coverage==7.13.5
pycodestyle==2.14.0
whitenoise==6.12.0
gunicorn==25.3.0
numpy==2.4.4
python-keycloak==7.1.1
python-dotenv==1.2.2
pandas==3.0.2
openpyxl==3.1.5
minio==7.2.20
xlsxwriter==3.2.0
xmltodict==1.0.4
dnspython==2.8.0
email-validator==2.3.0
djangorestframework-camel-case==1.4.2
