.add-user-box {
//   height: 4rem;
  background-color: $default-background-grey;
  margin-bottom: 1rem;
  margin-top: 1rem;
//   width: 40%;
}

.permissions {
  background-color: $default-background-grey;
  align-content: space-around;
 .checkbox {
    // width: 40%;
  }
}

.user-input {
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
}

